<header *ngIf="show" [@fadeInOut] class="custom-header">
  <nav class="main-nav">
    <div class="app-logo"></div>
    <nav class="nav-content">
      <button
        *ngFor="let nav of navs"
        routerLink="/{{ nav.value }}"
        routerLinkActive="active"
        mat-button
      >
        {{ nav.value }}
      </button>
    </nav>

    <figure class="avatar">A</figure>
  </nav>
  <nav class="sub-nav">
    <ul class="nav nav-tabs">
      <li *ngFor="let subNav of subNavs" class="nav-item">
        <a
          class="nav-link"
          routerLink="/{{ currentURL }}/{{ subNav }}"
          routerLinkActive="active"
          >{{ subNav }}</a
        >
      </li>
    </ul>
  </nav>
</header>
{{ currentURL }}
{{ subNavs | json }}
{{ parentURL }}
<button (click)="removeHeader()">remove header</button>
<br />
<app-custom-date-picker></app-custom-date-picker>
