<div>
  <table class="table table-borderless">
    <thead>
      <tr>
        <td class="spacing"></td>
        <th>Enrollment date</th>
        <th>Effective data</th>
        <th>name</th>
        <th>code</th>
        <th>level</th>
        <th>status</th>
        <th>comments</th>
        <th>state</th>
        <th>expiration date</th>
        <th></th>
        <td class="spacing"></td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="spacing"></td>
        <td><div>1/18/2017</div></td>
        <td><div>1/18/2017</div></td>
        <td>
          <div><span class="avatar"></span>Elviee keesie</div>
        </td>
        <td><div class="code">59304</div></td>
        <td>
          <div><span class="badge-pill badge-success">associate</span></div>
        </td>
        <td><div>licensed</div></td>
        <td><div>flag</div></td>
        <td><div class="underline">comment</div></td>
        <td><div>state</div></td>
        <td><div></div></td>
        <td class="spacing"></td>
      </tr>
      <tr>
        <td class="spacing"></td>
        <td><div>1/18/2017</div></td>
        <td><div>1/18/2017</div></td>
        <td>
          <div><span class="avatar"></span>Elviee keesie</div>
        </td>
        <td><div class="code">59304</div></td>
        <td>
          <div><span class="badge-pill badge-success">associate</span></div>
        </td>
        <td><div>licensed</div></td>
        <td><div>flag</div></td>
        <td><div class="underline">comment</div></td>
        <td><div>state</div></td>
        <td><div></div></td>
        <td class="spacing"></td>
      </tr>
      <tr>
        <td class="spacing"></td>
        <td><div>1/18/2017</div></td>
        <td><div>1/18/2017</div></td>
        <td>
          <div><span class="avatar"></span>Elviee keesie</div>
        </td>
        <td><div class="code">59304</div></td>
        <td>
          <div><span class="badge-pill badge-success">associate</span></div>
        </td>
        <td><div>licensed</div></td>
        <td><div>flag</div></td>
        <td><div class="underline">comment</div></td>
        <td><div>state</div></td>
        <td><div></div></td>
        <td class="spacing"></td>
      </tr>
      <tr>
        <td class="spacing"></td>
        <td><div>1/18/2017</div></td>
        <td><div>1/18/2017</div></td>
        <td>
          <div><span class="avatar"></span>Elviee keesie</div>
        </td>
        <td><div class="code">59304</div></td>
        <td>
          <div><span class="badge-pill badge-success">associate</span></div>
        </td>
        <td><div>licensed</div></td>
        <td><div>flag</div></td>
        <td><div class="underline">comment</div></td>
        <td><div>state</div></td>
        <td><div></div></td>
        <td class="spacing"></td>
      </tr>
    </tbody>
  </table>
</div>
