<div class="trainee" [style.width.%]="trainee">
  {{ trainee | number: "1.0-0" }}<br />trainee
</div>
<div class="associate" [style.width.%]="associate">
  {{ associate | number: "1.0-0" }}<br />associate
</div>
<div class="fa" [style.width.%]="fa">{{ fa | number: "1.0-0" }}<br />fa</div>
<div class="d" [style.width.%]="d">{{ d | number: "1.0-0" }}<br />d</div>
<div class="md" [style.width.%]="md">{{ md | number: "1.0-0" }}<br />md</div>
<div class="smd" [style.width.%]="smd">
  {{ smd | number: "1.0-0" }}<br />smd
</div>
<div class="emd" [style.width.%]="emd">
  {{ emd | number: "1.0-0" }}<br />emd
</div>
<div class="svp" [style.width.%]="svp">
  {{ svp | number: "1.0-0" }}<br />svp
</div>
<div class="evp" [style.width.%]="evp">
  {{ evp | number: "1.0-0" }}<br />evp
</div>
<div class="pc" [style.width.%]="pc">{{ pc | number: "1.0-0" }}<br />pc</div>
<div class="cc" [style.width.%]="cc">{{ cc | number: "1.0-0" }}<br />cc</div>
<div class="bc" [style.width.%]="bc">{{ bc | number: "1.0-0" }}<br />bc</div>
